body{
	overflow-x: hidden;
}

.tabs{
	float: left;
	width: 19% !important;
	height: calc(100% - 40px);
	background: rgba(0,0,0,0.20);
	border-radius: 5px;
	margin-left: 2px;
	position: relative;
	top: 40px;
	display: inline-table;
	overflow-x: hidden;
	overflow-y: auto;
	left: 0px;
	transition: 0.4s;
	white-space: nowrap;
	display: list-item;
	pointer-events: visiblestroke;
	scroll-behavior: smooth;
	scroll-padding-block: 20px;
}

.tabs .noti{
	width: 100%;
	height: 50px;
	background: rgb(78, 85, 97);
	border-radius: 5px;
	transition: 0.2s;
	transform: scale(1);
	position: relative;
	z-index: 1;
}

.tabs .noti .icon{
	position: relative;
	width: 20px;
	height: 10px;
	background: rgba(0,0,0,.20);
	padding: 13px;
	top: 7px;
	left: 0px;
	text-align: center;
	margin-left: 0px;
	display: inline-block;
	border-radius: 5px;
	cursor: pointer;
}

.tabs .noti .icon:hover{
	background: rgba(0,0,0,.40);
}

.tabs .noti .icon i{
	position: absolute;
	left: 8px;
	font-size: 22px;
	top: 8px;
	color: #fff;
}

input{
	outline: none;
	border: none;
}

.tabs .search{
	position: absolute;
	top: 16px;
	transition: 0.4s;
	left: 0px;
	width: 100%;
}

.tabs .search input{
	width: 100%;
	background: rgb(78, 85, 97);
	padding: 10px 45px;
	top: -8px;
	position: relative;
	color: rgb(185, 195, 212);
	border-radius: 5px;
}

.tabs .search input::placeholder{
	color: rgb(185, 195, 212);
}

.tabs .search .btn{
	position: relative;
    top: -37px;
    background: none;
    left: 15px;
    outline: none;
    float: left;
}

.tabs .search .btn i{
	font-size: 18px;
	color: rgb(97, 121, 165);
}

.scroll{
	position: absolute;
	overflow-x: auto;
	overflow-y: hidden;
	background: transparent;
	padding: 10px;
	white-space: nowrap;
	height: auto;
	height: calc(99% - 40px);
	width: 100%;
	max-width: 200vw;
	-webkit-overflow-scrolling: touch;
	white-space: nowrap;
	max-width: 200%;
}

.scroll::-webkit-scrollbar {
    width: 20px;
    height: 20px
}

.sugered::-webkit-scrollbar {
    width: 10px;
    height: 8px
}

.scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: transparent;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: transparent;
  outline: transparent;
}

.scrollar::-webkit-scrollbar-track {
    -webkit-box-shadow: transparent;
}

.scrollar::-webkit-scrollbar-thumb {
  background-color: #444;
  outline: transparent;
}

.list_feed::-webkit-scrollbar {
    width: 5px;
    height: 8px
}

.scrollar::-webkit-scrollbar {
    width: 5px;
    height: 8px
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
}
 
::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,.90);
  outline: 1px solid rgba(0,0,0,.1);
}

textarea::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
}
 
textarea::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,.90);
  outline: 1px solid rgba(0,0,0,.1);
}

.feed{
	position: sticky;
	width: 100%;
	height: 50px;
	background: rgb(78, 85, 97);
	border-radius: 5px;
}

#feed .feed span{
	color: var(--white2);
	padding: 10px;
	position: relative;
	top: 15px;
	font-size: 18px;
}

#feed .list_feed{
	position: relative;
	color: var(--white2);
	top: 20px;
	border-bottom: 1px dotted rgb(78, 85, 97);
	padding: 5px;
	max-height: calc(100% - 165px);
	overflow: auto;
	left: -13px;
	position: absolute;
	width: calc(100% - 10px);
	top: 60px;
	overflow: auto;
	display: grid;
	overflow-x:  hidden;
	left: 0px;
}

#feed .bottom{
	position: absolute;
	bottom: 3px;
	width: 100%;
	height: 39px;
	background: rgba(0,0,0,.40);
	left: 0px;
}

#feed .list_feed p{
	padding: 5px;
	position: relative;
	text-align: left;
	word-break: break-all;
	white-space: pre-wrap;
	background: var(--dark1);
	margin: 5px;
	left: 1px;
}

#feed .list_feed .post{
	width: 100%;
	height: 200px;
	background: rgba(0,0,0,.40);
	position: sticky;
	margin-top: 10px;
}

#feed .sugered{
	width: 100%;
	height: 140px;
	background: rgb(78, 85, 97);
	overflow-x: auto !important;
	overflow-y: hidden;
	top: 46px;
	position: absolute;
	left: 0px;
}

#feed .sugered .people{
	width: 80px;
	height: 80px;
	background: var(--white2);
	border-radius: 50%;
	position: relative;
	top: 40px;
	left: 20px;
	display: inline-block;
	white-space: nowrap;
	margin-left: 5px;
	cursor: pointer;
}

#feed .sugered .people h1{
	position: absolute;
	top: 20px;
	left: 30px;
}

.fixed{
	width: 100%;
	position: fixed;
	height: 40px;
	background: rgb(78, 85, 97);
	top: 0px;
	left: 0px;
	padding: 2px;
	text-align: center;
}

.fixed p{
	color: #fff;
	padding: 5px;
	color: var(--white2);
	position: relative;
	text-align: center;
	font-size: 18px;
	top: 5px;
}

.fixed a{
	padding: 5px;
	color: var(--white2);
	position: relative;
	top: 0px;
	font-size: 25px;
	float: left;
	left: 20px;
	cursor: pointer;
	margin-left: calc(25% - 70px);
}

.fixed .active{
	border-bottom: 6px solid #ecf2ff;
	border-radius: 5px;
}

.fixed a:hover{
	color: #fff;
}

.profile img{
	width: 120px;
	height: 120px;
	border-radius: 20px;
}

.tabs::-webkit-scrollbar {
    width: 5px;
    height: 8px
}

.tabs::-webkit-scrollbar-track {
    -webkit-box-shadow: transparent;
}

.tabs::-webkit-scrollbar-thumb {
  background-color: transparent;
  outline: transparent;
}
 
.tabs::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
}
 
.tabs::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,.90);
  outline: 1px solid rgba(0,0,0,.1);
}

.back_profile{
	width: 100%;
	height: 200px;
	background: rgba(0,0,0,.40);
	position: relative;
	top: 0px;
	background-size: cover;
	background-image: url('/images/976b56da8d86af63aef4f55afb553a9f.png');
}

.back_profile::after{
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	background: rgba(0,0,0,.40);
	left: 0px;
}

.profile_foo .status{
	position: relative;
	top: -150px;
	left: 20px;
}

#me .post{
	width: 100%;
	height: auto;
	background: #393f4a;
	position: relative;
	top: -5px;
}

#me textarea{
	border-top: 2px solid #4f6ea7;
	border-radius: 4px;
	height: 100%;
}

#me textarea::placeholder{
	color: var(--white2);
}

textarea::-webkit-scrollbar {
    width: 5px;
    height: 8px
}

textarea::-webkit-scrollbar-track {
    -webkit-box-shadow: transparent;
}

textarea::-webkit-scrollbar-thumb {
  background-color: transparent;
  outline: transparent;
}
 
textarea::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
}
 
textarea::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,.90);
  outline: 1px solid rgba(0,0,0,.1);
}

.zoom{
	width: 500px !important;
}

right{
	float: right;
	right: 20px;
	position: absolute;
}

right i{
	color: var(--white2);
	font-size: 22px;
	position: relative;
	top: 20px;
	cursor: pointer;
}

/* boxes */
.boxes {
	float: left;
	clear: both;
	width: 100%;
	max-width: 300px;
	margin-bottom: 20px;
  }
  
  .boxes .item,
  .boxes .box {
	position: relative;
	float: left;
  }
  
  .boxes .item {
	width: 33%;
	height: 70px;
	padding: 5px;
  }
  
  .boxes .box {
	float: left;
	position: relative;
	overflow: hidden;
	height: 60px;
	width: 100%;
	line-height: 60px;
	background: #f7f7f7;
	cursor: pointer;
	font-style: italic;
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 12px;
	color: #444;
	text-shadow: 0 1px 0 rgba(255,255,255,1);
	text-align: center;
	-moz-user-select: none;
	user-select: none;
  }
  
  @media all and (max-width: 350px) {
	.boxes .box { font-size: 11px;  }
  }
  
  .boxes .box .overlay {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid rgba(0,0,0,.1);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  }
  
  
  /* positions */
  .box .position {
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 50%;
	background: #cbcbcb;
  }
  
  /* top/bottom */
  .box .topleft,
  .box .top,
  .box .topright,
  .box .bottomleft,
  .box .bottom,
  .box .bottomright { height: 6px; }
  
  .box .topright,
  .box .bottomright { left: auto; right: 0; }
  .box .top,
  .box .bottom { left: 50%; margin-left: -22.5px; }
  
  .box .bottomleft,
  .box .bottom,
  .box .bottomright { top: auto; bottom: 0; }
  
  /* left/right */
  .box .lefttop,
  .box .left,
  .box .leftbottom,
  .box .righttop,
  .box .right,
  .box .rightbottom { width: 6px; }
  
  .box .leftbottom,
  .box .rightbottom { top: auto; bottom: 0; }
  .box .left,
  .box .right { top: 50%; margin-top: -15px; }
  
  .box .righttop,
  .box .right,
  .box .rightbottom { left: auto; right: 0; }
  
  /* squares */
  .position i {
	width: 6px;
	height: 6px;
	position: absolute;
	background: #ff6100; /*#4f38ff; */
	top: 0;
	left: 0;
  }
  
  .box .top i,
  .box .right i,
  .box .bottom i,
  .box .left i {
	top: 50%;
	left: 50%;
	margin-top: -3px;
	margin-left: -3px;
  }
  
  .box .topright i,
  .box .bottomright i {
	left: auto; right: 0;
  }
  .box .leftbottom i,
  .box .rightbottom i {
	top: auto; bottom: 0;
  }

  .pace {
	-webkit-pointer-events: none;
	pointer-events: none;
  
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
  }
  
  .pace-inactive {
	display: none;
  }
  
  .pace .pace-progress {
	background: rgb(69, 146, 190);
	position: fixed;
	z-index: 2000;
	top: 0;
	right: 100%;
	width: 100%;
	height: 6px;
  }
  

  .full{
	  width: auto;
	  height: auto;
	  text-align: center;
  }

  .profile_foo{
	  position: absolute;
	  left: 0px;
	  top: 10px;
  }

  .animation_a{
	-webkit-animation: NAME-YOUR-ANIMATION 1s infinite; /* Safari 4+ */
	-moz-animation:    NAME-YOUR-ANIMATION 1s infinite; /* Fx 5+ */
	-o-animation:      NAME-YOUR-ANIMATION 1s infinite; /* Opera 12+ */
	animation:         NAME-YOUR-ANIMATION 1s infinite; /* IE 10+, Fx 29+ */
  }

  @-webkit-keyframes NAME-YOUR-ANIMATION {
	0%   { opacity: 0.95; }
	100% { opacity: 1; }
  }
  @-moz-keyframes NAME-YOUR-ANIMATION {
	0%   { opacity: 0.95; }
	100% { opacity: 1; }
  }
  @-o-keyframes NAME-YOUR-ANIMATION {
	0%   { opacity: 0.95; }
	100% { opacity: 1; }
  }
  @keyframes NAME-YOUR-ANIMATION {
	0%   { opacity: 0.95; }
	100% { opacity: 1; }
  }

  .mencionar{
		position: absolute;
		bottom: 41px;
		left: 0px;
		width: 100%;
		max-height: 200px;
		background: var(--dark1);
		color: #fff;
		text-align: left;
		overflow: auto;
		height: auto;
  }

  .mencionar p{
		margin: 10px;
		background: var(--h);
		padding: 10px;
		position: relative;
		left: 0px;
		padding: 10px 43px;
		cursor: pointer;
  }

  .mobile{
	  display: none;
  }

  @media screen and (max-width: 992px){
    .mobile{
        display: block;
    }

    .tabs{
        top: 40px !important;
        width: 98% !important;
        left: -11px !important;
    }

    body{
        overflow: hidden;
    }

    .scroll{
        height: calc(99% - 40px) !important;
    }
    
}

@-webkit-keyframes loading {
	0%   { opacity: 0.7; }
	100% { opacity: 1; }
  }
  @-moz-keyframes loading {
	0%   { opacity: 0.7; }
	100% { opacity: 1; }
  }
  @-o-keyframes loading {
	0%   { opacity: 0.7; }
	100% { opacity: 1; }
  }
  @keyframes loading {
	0%   { opacity: 0.7; }
	100% { opacity: 1; }
  }

  .loading{
	-webkit-animation: loading 2s infinite; /* Safari 4+ */
	-moz-animation:    loading 2s infinite; /* Fx 5+ */
	-o-animation:      loading 2s infinite; /* Opera 12+ */
	animation:         loading 2s infinite; /* IE 10+, Fx 29+ */
  }

  .errorPulse{
	-webkit-animation: scaling 1s infinite alternate;
  }

  @keyframes scaling {
    0% {
        transform: scale(1.0);
    }
    100% {
        transform: scale(1.04);
    }
}

.searchAtivo{
	position: absolute;
    top: 52px !important;
    transition: 0.1s;
    left: 0px;
    width: 100%;
    z-index: 10000;
}

button{
	outline: none;
}

nani{
	z-index: 100;
}

.newN button{
	background: transparent;
	padding: 10px;
	position: relative;
	top: -15px;
	cursor: pointer;
	border-radius: 50%;
	margin: 0px auto;
	background: rgba(0,0,0,.10);
	margin-left: 50%;
	left: -40%;
	margin-top: 0px;
}

.newN button:hover{
	background: rgba(0,0,0,.40);
}

.newN .count_b{
	position: absolute;
    top: -1px;
    right: -3px;
    color: var(--blue);
    font-size: 16px;
    background: rgba(0,0,0,0.7);
    padding: 2px;
    border-radius: 17px;
}

.newsNAtivo{
	background: rgba(0,0,0,.70) !important;
	transform: scale(1.1);
}

div{
	transition: 0.4s all;
}

.top_a{
	top: -29px;
    position: absolute;
    background: var(--dark1);
    width: calc(100% - 48px);
	padding: 25px;
	height: 19px;
}

.top_a img{
	position: relative;
	display: inline-block;
	top: -22px;
	cursor: pointer;
}

.gifsImg{
	width: 100%;
    height: auto;
    display: block;
    white-space: pre-wrap;
}

.container{
	position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.grupos{
	width: 120px !important;
	float: right;
	right: 20px !important;
	left: -20px !important;
}

.grupos .sugered .people{
	display: block !important;
	left: 15px !important;
	margin-top: 10px;
}


.grupos .sugered{
	width: auto;
	height: 100% !important;
}


#me{
	width: 20% !important;
}

.grupos span{
	display: none
}

.tabs{
	margin-left: 20px !important;
}

.list_feed img{
	width: 100%;
	height: auto !important;
	max-width: 400px;
	max-height: 400px;
}

.enviargif{
	width: 320px !important;
	position: absolute !important;
	box-shadow: 1px 2px 1px rgba(0,0,0,.40);
	left: 70px !important;
	bottom: 35px !important;
;}

.enviargif input{
	background: #fefefe !important;
	position: fixed;
	color: #151515 !important;
}

#feed .list_feed p span{
	left: 10px !important;
	position: relative;
	top: -10px;
}

#feed .list_feed p span img{
	left: -30px !important;
	position: relative;
	top: 10px !important;
}
