@media screen and (min-width: 414px){
    .mobile{
        display: block;
    }

    .tabs{
        top: 40px !important;
    }

    .scroll{
        height: calc(99% - 40px) !important;
    }
}

@media screen and (min-width: 1000px){
    .mobile{
        display: none;
    }

    .tabs{
        width: 320px !important;
        padding: 0px !important;
        left: 0px !important;
        margin-left: 10px !important;
    }

    .tabs{
        top: 0px !important;
    }

    .scroll{
        height: calc(99% - 0px) !important;
    }
}